*.bak
.DS_Store
/.prove
/BBBikeVar.tpl
/ChangeLog
/Makefile
/Makefile.old
/blib
/cache/
/data-osm
/data_*
/distfiles
/tmp/
Makefile.osm
data-opensearch
data-osm
data/opensearch.streetnames
favicon.ico
osm
data-opensearch-places
