*.bak
.DS_Store
/.prove
/BBBikeVar.tpl
/ChangeLog
/MYMETA.yml
/Makefile
/Makefile.old
/blib
/cache/
/data-osm
/data_*
/distfiles
/tmp/
Makefile.osm
data-opensearch
data-osm
data/opensearch.streetnames
favicon.ico
osm
data-opensearch-places
osp
world/web/[A-Z]*
world/web/bbbike
world/web/cgi
world/web/html
world/web/images
world/web/berlin
world/web/[a-z][a-z]
world/web/m/
world/tmp
cgi/MyCgiSimple.pm
cgi/api.cgi
cgi/livesearch.cgi
cgi/location.cgi
cgi/slippymap.cgi
cgi/street-coord.cgi
cgi/weather.cgi
cgi/streets.cgi
data-osm.bbbike.tgz
data-osm.bbbike/
data-osm.old/
