*.bak
.DS_Store
/.prove
/BBBikeVar.tpl
/ChangeLog
/MYMETA.yml
/Makefile
/Makefile.old
/blib
/cache/
/data-osm
/data_*
/distfiles
/tmp/
Makefile.osm
data-opensearch
data-osm
data/opensearch.streetnames
favicon.ico
osm
data-opensearch-places
osp
world/web/[A-Z]*
world/web/cgi
world/web/html
world/web/images
world/web/berlin
world/web/[a-z][a-z]
world/web/m/
cgi/streets.cgi
