/* - Do not hardcode background-image in css.
 * - background--attachment: fixed seems to be unintutive and slows down the
 *   Mozilla renderer
 */
body {
  background-color:#ffffff;
  color:#000000;
  font-family:sans-serif,helvetica,verdana,arial;
}
td,th,p,h2,li,input {
  font-family:sans-serif,helvetica,verdana,arial;
}
table.desc {
  vertical-align:top;
}
table.routelist th {
  padding-left:3px;
  padding-right:3px;
}
table.routelist td {
  vertical-align:top;
  padding:2px 3px 2px 3px;
}
table.detailmap td {
  vertical-align:middle;
}
table.routeas td {
  padding-right:10px;
}
tt,pre {
  font-family:courier,monospace;
}
dt {
  font-weight:bold;
}
.hfill { width:100%; }
/* not interpreted by Gecko, wrong interpretation by IE 5.0 */
/* table.routelist > td { background-color:#ffcc66; } */
input.charmap {
  width: 270px;
  height: 94px;
  border: 0;
}
input.citymap {
  border: 0;
}
.nobr {
  white-space: nowrap;
}
tr.odd  { color: #000000; background-color: #ffcc66; }
tr.even { color: #000000; background-color: #ffdd88; }

a.ms:hover   { background-color:#FFFFFF; color:#000000; }
a.ms:link    { color:#000000; }
a.ms:visited { color:#333333; }

.new { font-weight:bold;color:#a00000; }

/* link colors */
a { text-decoration:none; color: green; }
a:hover { text-decoration:underline; }

.teaserbox {
  width:100%;
  color: #000000;
  background-color:#ffdead;
  padding:4px;
  margin-bottom:4px;
}

.teaser {
  font-size:small;
}

.ftr  { text-align:center; background-color: #ffcc66; padding: 3px; }

.experimental {
  border:1px red solid;
  color:red;
  padding:2px;
  margin:0px 8px 0px 8px;
  background-color:yellow;
  font-size:small;
}

.settingsreset {
  margin-left:1cm;
}

.box {
  border: 2px black solid;
  padding: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.box form {
  margin-bottom: 0px;
}

.graphfootnote {
  font-size:smaller;
  margin-top:8px;
}

/* colors taken from bbbike.cgi, %category_color, but slightly varied (because of the ffdead'ish background color in table) */
.catB {
  background-color:#cd0000; /* red3 */
}
.catHH {
  background-color:#ffff00;
}
.catH {
  background-color:#ffff40;
}
.catNH {
  background-color:#ffffc0;
}
.catN {
  background-color:#ffffff; /* slightly different */
}
.catNN {
  background-color:#bdffbd;
}
.catfz {
  background-color:#cccccc;
  content:"?";
  vertical-align:middle;
  text-align:center;
}
.catQ { /* ferry */
  background-color:#a0a0ff;
  background-image:url(../images/ferry.png);
  background-repeat:no-repeat;
  background-position:1px 1px;
}

.catcell {
  width:10px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: black;
  padding: 0px 2px 0px 2px;
}

.catcellRW,.catcellRS,.catcellFS,.catcellBS,.catcellNF {
  width:10px;
  border-width: 0px 2px 0px 4px;
  border-style: solid;
  border-right-color: black;
  padding: 0px 2px 0px 2px;
}
.catcellRW {
  border-left-color: blue;
}
.catcellRS,.catcellFS {
  border-left-color: rgb(0,100,180);
}
.catcellBS {
  border-left-color: rgb(255,165,0);
}
.catcellNF {
  border-left-color: white;
}

.pseudolink {
  margin-bottom:2px;
}

.pseudolink span {
 border-bottom: dashed black 1px;
}

.pseudolink span:hover {
  background-color:yellow;
}

.selectedflag {
  padding:2px;
  border:2px solid black;
}

.unselectedflag {
  padding:4px;
}

.dottedlink {
  text-decoration:none;
  border-bottom: 1px dotted black;
}

.yellowbox {
  background-color: #e0e090;
  border: 1px #d0d040 solid;
  padding: 2px;
}

.error {
  color:red;
  font-weight:bold;
}

.success {
  color:green;
  font-weight:normal;
}


.newstrattrhead {
  vertical-align:top;
  font-weight:bold;
  font-size:larger;
}

input#suggest_start:focus, 
input#suggest_via:focus, 
input#suggest_ziel:focus { background-color: #FFC }

span.slippymaplink { font-size: small; }
span.real_time { font-size: small; }

html, body {
	height: 100%; 
}


div#map   {
        width: 100%; 
        height: 100%;
}


div#nomap { 
        width: 100%; 
        height: 20%;
        top: 0px;
        bottom: 0;
}


/* body { width: 100%; height: 100%;z-index: 0; } */

div#routing { 
	position: absolute; 
	/* left: 0px; */
	width: 24.5%;
        margin-right: 0.5em;
	background-color: white;
	z-index: 1000; 
}

div#sidebar { 
	position: absolute; 
	/* left: 0px; */
	width: 26em;
        padding-right: 0.5em;
	background-color: white;
	z-index: 1000; 

	/* scroll city list if to long */
	overflow-y: auto;
	overflow-x: auto;
	height: 90%;
}

div#routes {
	position: absolute; 
	left: 0px;
	width: 22em;
	background-color: white;
	z-index: 1000; 
	
	/* scroll city list if to long */
	overflow-y: auto;
	overflow-x: auto;
	height: 90%;
}

div#BBBikeGooglemap { 
        width: 75%; 
        height: 92.5%;
	position: relative;
	/* margin-left: 22.4em;  */
	border: 0px solid #979797;z-index: 0; 
	right: 0em;
	left: 25%;
}
div#bottom {
	position: relative;
}

div#adsense_linkblock { 
	margin-left: 23.4em; 
	position: relative;
	top: -1.5em; 
        width: 74%; 
}

div#chart_div {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 120px;
}

div#footer { 
  top: 0.0em;
  font-size: small;
  text-align: center; 
}

div#footer_top { text-align: left; }
div#copyright { margin-bottom: 0.5em }

span#footer_community {
  position: relative;
  left: 8%;
  width: 100%;
}

div#other_cities {
  font-size: small;
  text-align: center;
  padding-top: 0.5em
  width: 70%;
  padding-left: 15%;
}

span#housenumber { font-size: small; }


div#top_right {
  position: absolute;
  top: 1px;
  right: 10px;
}
span#current_weather {
  padding-right: 1em;
  font-size: medium;
}


/* Ausweichroute */
.altroutebox {
  background-color: #ffcc66;
  padding:3px;
  text-align:center;
}

.mobile_link { font-size: small; }
.mobile_link_mobile { font-size:300%; }

span#language_switch { font-size: small; }

img.logo { border: 0px; }
a.logo { border: 0px; text-decoration:none }
span.current_language { font-size: large; }
span.city { font-size: large; }


/* 
 * include copy of devbridge-jquery-autocomplete-1.1.2/styles.css 
 * less HTTP traffic
 */
.autocomplete-w1 { background:url(../html/devbridge-jquery-autocomplete-1.1.2/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

div#livestatistic { font-size: small; }

div#list span:hover { text-decoration:underline; color: green; }
div#list span:active { text-decoration:none; color: red; }

.honey { display: none; }

span.grey, p.grey { font-size: small; color: #808080 }

/* position of 'via' link */
td#via_message { padding-top: 0em; }

/* extract.cgi */
form#extract input#extract { color: green; font-size: large }

/* large green submit button, to focus user actions */
form input[type=submit] { 
	color: green; 
	font-size: large; 
	margin-bottom: 0.4em; 
}

/* span#headline { text-align: center; } */

/* dynamically increase size of input fields */
input#suggest_start, input#suggest_via, input#suggest_ziel { width: 97%; } 

span#debug { font-size: small; }

/* Tag cloud */
span.htmltagcloud {
  text-align:  center; 
  line-height: 1; 
}

span.htmltagcloud a { text-decoration: none; }
span.tagcloud0 { font-size: 7px; }
span.tagcloud1 { font-size: 8px; }
span.tagcloud2 { font-size: 9px; }
span.tagcloud3 { font-size: 10px; }
span.tagcloud4 { font-size: 11px; }
span.tagcloud5 { font-size: 12px; }
span.tagcloud6 { font-size: 13px; }
span.tagcloud7 { font-size: 14px; }
span.tagcloud8 { font-size: 15px; }
span.tagcloud9 { font-size: 16px; }
span.tagcloud10 { font-size: 17px; }

#big_donate_image { text-align:center; }

