/* for http://extract.bbbike.org only */
div#all {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

div#map { width: 100%; height: 100%; }

#debug { color: red; font-size: small; }

div#footer_community { display: none; }

div#footer { margin: 0.5em; }

div#copyright {
  font-size: small;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
}

div#border {
	padding: 0px;
	background-color: #FFF;
}

div#intro {
	position:static;
	margin: 0.3em;
}

div#message {
	position:relative;
}

div#table {
 position:relative;
 top:0;
 left:0;
 width: 21em;
 margin: 0.0em;
 border-spacing: 1px;
}

table {
 border-spacing: 0px;
}


input[type=submit] { margin-top: 0.5em; }

table tr td { padding: 3px; }

/* large green submit button, to focus user actions */
form input[type=submit] {
        color: green;
        font-size: large;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

div#export_osm_too_large { color: red }

#locate { position:absolute; right: 0; }

#sidebar_left, #footer {
	width: 22em;
	position: absolute;
}

#footer {
	bottom: 0em;
}

#map {
	left: 22em;
	position: relative;
	width: 100%;
}

#sidebar_content { padding: 0px; margin: 0px; }

hr { margin-top: 0.2em; margin-bottom: 0.2em; }

#result { margin-top: 1em; padding: 0.5em; padding-bottom: 4em; }

span#noscript { 
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

span#square_km_small, span#size_small, span#time_small { font-size: small; font-style:italic }

input#city, input#email { width: 95%; } 

